<div class="navbar-fixed">
  <nav role="navigation">
    <div class="nav-wrapper">
      <a class="button-collapse sidenav-trigger" data-target="slide-out" data-turbolinks="false" href="#" id="sidenav"><i class="material-icons right">menu</i></a>
      &emsp;&ensp;<%= link_to "Lab Companion", root_path, class: "brand-logo" %>
      <ul class="right hide-on-med-and-down">
        <% if member_signed_in? %>
          <li><%= link_to "Home", root_path, class: "waves-efect waves-light" %></li>
          <li><%= link_to "Post", posts_path, class: "waves-efect waves-light" %></li>
          <li><%= link_to "Todo", todos_path, class: "waves-efect waves-light" %></li>
          <li><a href="/members/<%= current_member.id %>"><%= current_member.name %></a></li>
          <li>
            <%= link_to destroy_member_session_path, :method=>'delete' do %>
              <i class="material-icons">exit_to_app</i>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_member_session_path, class: "waves-efect" %></li>
          <li><div class="divider"></div></li>
          &nbsp;
        <% end %>
      </ul>
    </div>
  </nav>
</div>

<ul id="slide-out" class="sidenav">
  <% if member_signed_in? %>
    <li><div class="user-view">
      <div class="background">
        <%= image_tag "wellcome_wallpaper.jpg", :size => '300x160' %>
      </div>
      <a href="/members/<%= current_member.id %>" class="plain-link"><span>
        <%= image_tag "UserFace.png", class: "circle" %>
      </a></span>
      <a href="/members/<%= current_member.id %>" class="plain-link"><span class="white-text name">
        <%= current_member.name %>
      </a></span>
      <a href="/members/<%= current_member.id %>" class="plain-link"><span class="white-text email">
        <%= current_member.email %>
      </a></span>
    </div></li>
    <li class="no-padding">
      <%= link_to root_path, class: "waves-efect" do %>
        <i class="material-icons">home</i>Home
      <% end %>
    </li>
    <li>
      <%= link_to posts_path, class: "waves-efect waves-light" do %>
        <i class="material-icons">school</i>Posts
      <% end %>
    </li>
    <li>
      <%= link_to todos_path, class: "waves-efect waves-light" do %>
        <i class="material-icons">school</i>Todos
      <% end %>
    </li>
    <div class="divider"></div>
    <li>
      <%= link_to destroy_member_session_path, :method=>'delete' do %>
        <i class="material-icons">exit_to_app</i>Log Out
      <% end %>
    </li>

  <% else %>
    <li><%= link_to "Log in", new_member_session_path, class: "waves-efect" %></li>
  <% end %>
</ul>