<%= form_with(model: member_grade, local: true) do |form| %>
  <% if member_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_grade.errors.count, "error") %> prohibited this member_grade from being saved:</h2>

      <ul>
      <% member_grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
