<div class="container-fluid" style="padding-top: 2rem">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <span class="card-title center">Posts</span>
          <div class="divider"></div>
          <% if @posts.length == 0 %>
            <table class="bordered highlight centered">
          <% else %>
            <table class="bordered responsive-table highlight centered">
          <% end %>
            <thead>
              <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Status</th>
                <th>Category</th>
                <th>Writer</th>
                <% if current_member.role.id == 1 && @posts.length != 0%>
                  <th colspan="3" class="centered">Operations</th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% if @posts.length == 0%>
                <tr>
                  <td colspan=5 class="centered">There is no Posts</td>
                </tr>
              <% else %>
                <% @posts.each do |post| %>
                  <% if post.member.id == current_member.id || post.published == true %>
                    <tr>
                      <td><%= post.title %></td>
                      <td><%= truncate(markdown(post.content), length: 10 ) %></td>
                      <td>
                        <% if post.published %>
                          Published
                        <% else %>
                          Draft
                        <% end %>
                      </td>
                      <td><%= post.category.name %></td>
                      <td><%= post.member.name %></td>
                      <td><%= link_to 'Show', post %></td>
                      <% if current_member.role.id == 1 %>
                        <td><%= link_to 'Edit', edit_post_path(post) %></td>
                        <% if current_member.id == post.member.id %>
                          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                      <% end %>
                    </tr>
                  <% else %>
                    <tr>
                      <td colspan=5 class="centered">There is no Posts</td>
                    </tr>
                  <% end %>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render :partial => "components/floating_action_button" %>