<!DOCTYPE html>
<html>

<head>
  <title>Lab Companion</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./materialize/css/materialize.css" rel="stylesheet" media="screen,projection" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <%= render :partial => "components/nav_bar" %>
  </header>
  <main>
    <div class="row">
      <div class="col s12 m12 l12">
        <p class="notice">
          <%= notice %>
        </p>
        <p class="alert">
          <%= alert %>
        </p>
        <%= yield %>
      </div>
    </div>
  </main>
  <footer>
  </footer>
</body>

</html>